.env

# プログラムおよびプラグインのバイナリ
*.exe
*.exe~
*.dll
*.so
*.dylib

# `go test -c` でビルドされたテスト バイナリ
*.test

# LiteIDE で使用した場合の go カバレッジ ツールの出力
*.out

# 依存ディレクトリ (以下のコメントを削除して含めます)
# vendor/

# Goの作業ファイル
go.work